services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflare-tunnel
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    env_file:
      - .env
    environment:
      - "TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}"
    command: tunnel run

networks:
  proxy:
    external: true